---
layout: default
title: "Home"
order: 1
description: >
  Quick and dirty gaming reviews<br />
  written poorly by kitarei.
---
<header>
	<h1>{{ page.description }}</h1>
	<p>Just a bunch of average reviews by an average gamer, focusing on video games and hardware 🎮.</p>
</header>
<section class="tiles">

  {% for post in site.posts %}
      <article class="{{ post.class }}">
        <span class="image">
          <img src="{{ post.list-image | prepend: site.baseurl }}" alt="">
        </span>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
          <h2>{{ post.title }}</h2>
          <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="content">
            <p>{{ post.description }}</p>
          </div>
        </a>
      </article>
    {% endfor %}

</section>
