<!-- Footer -->
          <footer id="footer">
            <div class="inner">
              <section>
                <h2>Get in touch</h2>
                <form name="contact" data-netlify="true" method="POST">
                  <div class="field half first">
                    <input type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="field half">
                    <input type="email" name="email" id="email" placeholder="Email" />
                  </div>
                  <div class="field">
                    <textarea name="message" id="message" placeholder="Message"></textarea>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" name="submit" value="Send" class="special" /></li>
                  </ul>
                </form>
              </section>
              <section>
                <h2>Follow</h2>
                <ul class="icons">
                  <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style2 fa-twitter" title="{{ site.twitter_username }}" target="_blank"><span class="label">{{ site.twitter_username }}</span></a></li>
                  <li><a href="https://fb.gg/heykitarei" class="icon style2 fa-facebook" title="Facebook" target="_blank"><span class="label">Facebook</span></a></li>
                  <li><a href="https://instagram.com/kitarei" class="icon style2 fa-instagram" title="Instagram" target="_blank"><span class="label">Instagram</span></a></li>
                  <li><a href="https://aus.social/@kitarei" class="icon style2 fa-brands fa-mastodon" title="Mastodon" target="_blank"><span class="label">Mastodon</span></a></li><br>
                  <li><a href="https://twitch.tv/kitarei" class="icon style2 fa-twitch" title="Twitch" target="_blank"><span class="label">Twitch</span></a></li>
                  <li><a href="https://kitarei.co" class="icon style2 fa-solid fa-globe" title="Website" target="_blank"><span class="label">Website</span></a></li>
                  <li><a href="https://www.youtube.com/channel/UCt2pdORrsSGnI6tH2Ev7aEA" class="icon style2 fa-youtube" title="Youtube" target="_blank"><span class="label">Youtube</span></a></li>
                  <li><a href="https://tiktok.com/@heykitarei/" class="icon style2 fa-brands fa-tiktok" title="Tiktok"><span class="label">Tiktok</span></a></li>
                </ul>
              </section>
              <ul class="copyright">
                <li>&copy; Kitarei Reviews. All rights reserved</li>
                <li>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
              </ul>
            </div>
          </footer>
