<!-- Header -->
<header id="header">
  <div class="inner">

    <!-- Logo -->
      <a href="{{ site.baseurl }}/" class="logo" title="{{ site.title }}">
        <span class="symbol"><img src="{{ "/assets/images/logo.svg" | prepend: site.baseurl }}" alt="Logo {{ site.title }}"></span><span class="title">{{ site.title }}</span>
      </a>

    <!-- Nav -->
    <!--   <nav>
        <ul>
          <li><a href="#menu" title="Menu">Menu</a></li>
        </ul>
      </nav>

  </div> -->
</header>

<!-- Menu -->
<nav id="menu">
  <h2>Menu</h2>
  <ul>
    {% assign pages = site.pages | sort: "order"  %}
    {% for my_page in pages %}
      {% if my_page.title %}
      <li><a href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
